.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid;
}

.logo {
    width: 10%;
    height: 10%;
}

.nav_list {
    text-decoration: none;
    color: rgb(17, 70, 17);
    font-size: 24px;
}

.nav_list:hover{
    color: rgb(127, 177, 127);
}

.form {
    display: flex;
    flex-direction: column;
    margin: 10% 25%;
    align-items: center;
    background-color:  rgb(127, 177, 127);
    border-radius: 3rem;
}

.text {
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(17, 70, 17);
}

input {
    padding: 10px 30px;
    margin: 1%;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.recovery {
    text-decoration: none;
    color: rgb(17, 70, 17);
    margin: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.recovery:hover {
    color: rgb(23, 119, 23);
}
