.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid;
}

.logo {
    width: 10%;
    height: 10%;
}

.nav_list {
    text-decoration: none;
    color: rgb(17, 70, 17);
    font-size: 24px;
}

.nav_list:hover{
    color: rgb(127, 177, 127);
}

.card-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
    border: 1px solid;
    border-color: rgb(17, 70, 17);
    border-radius: 2rem;
}
.img-conteiner {
    display: flex;
    justify-content: space-around;
    padding: 3%;
}
.photo {
    width: 30%;
    border-radius: 2rem;
}

.info-conteiner {
    font-size: 24px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(17, 70, 17);
    padding-bottom: 3%;
}